.navlinks{
    border-bottom: 2px solid white;
}

.navlinks:active{
    border-bottom: 2px solid black;
}

.right_content {
    width: 100%;
    height: 100%;
    background-color: rgb(232, 232, 232);
    margin: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineOne, .lineTwo {
    height: 4px;
    width: 100%;
    background-color: rgb(33, 33, 33);
}

.lineTwo {
    align-self: flex-end;
}